:root{
    /* Colores primarios */
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
    /* Colores neutral */
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

/** Estilos del main */
.main{
    width: 100%;
}

.contenedor{
    position: relative;
    width: 100%;
    background-color: var(--Dark-Violet);
}

.contenedor__humanizing{
    
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor__left{
    position: absolute;
    width: 120px;
    left: 0px;
    bottom: -200px;
}

.contenedor__right{
    position: absolute;
    width: 300px;
    height: 400px;
    right: 0;
    top: 0;
}

.humanizing{
    width: 100%;
}

.humanizing__linea{
    width: 150px;
    height: 1.5px;
    background-color: var(--Very-Light-Gray);
}

.humanizing__titulo{
    font-size: 3rem;
    color: var(--Very-Light-Gray);
}

.humanizing__parrafo{
    font-size: 1.1rem;
    color: var(--Very-Light-Gray);
    text-align: justify;
    padding-right: 30px;
}

.humanizing__enlace{
    display: inline-block;
    text-decoration: none;
    color: var(--Very-Light-Gray);
    border: 2px solid var(--Very-Light-Gray);
    padding: 10px;
}

.image{
    width: 100%;
}

.image__family{
    display: inline-block;
    width: 100%;
    height: 520px;
    margin-bottom: -150px;
    object-fit: cover;
}

.descripcion{
    width: 80%;
    margin: 200px auto;
}

.descripcion__linea{
    width: 150px;
    height: 2px;
    background-color: var(--Dark-Violet);
}

.descripcion__text{
    font-size: 3rem;
    font-weight: bold;
}

.items{
    display: flex;
    margin-top: 50px;
}

.items__card{
    width: 100%;
    height: 100%;
}

.items__img{
    width: 70px;
    height: 70px;
}

.items__name{
    font-size: 1.8rem;
    color: var(--Dark-Violet);
    font-weight: bold;
}

.items__parrafo{
    font-size: 1rem;
    color: var(--Grayish-Blue);
}

@media screen and (max-width: 375px){
    .contenedor__humanizing{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .image{
        order: 1;
        width: 100%;
    }

    .image__family{
        width: 100%;
        height: 100%;
    }

    .humanizing{
        width: 90%;
        order: 2;
        text-align: center;
        padding-bottom: 100px;
        margin: auto;
    }

    .humanizing__linea{
        display: none;
    }

    .humanizing__titulo{
        font-size: 2.5rem;
    }

    .humanizing__parrafo{
        width: 100%;
    }

    .contenedor__left{
        display: none;
    }

    .contenedor__right{
        display: none;
    }

    .descripcion{
        margin-top: 100px;
    }

    .descripcion__linea{
        margin: auto;
    }

    .descripcion__text{
        width: 100%;
        text-align: center;
        font-size: 2.7rem;
    }

    .items{
        flex-direction: column;
    }

    .items__card{
        margin-bottom: 60px;
        text-align: center;
    }

    .items__parrafo{
        line-height: 1.6;
    }




}