/** Typography for headings (TITULOS H1, H2) */
@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/DMSerifDisplay-Regular.ttf');
}

/** Typography for body */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Karla-VariableFont_wght.ttf');
}

:root {
    /* Colores primarios */
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
    /* Colores neutral */
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}


body {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: none;
}

/**
 * Header Landing Page by Virbes
 */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    width: 80%;
    margin: 0px auto;
}

header nav .logo img {
    margin-top: 30px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: block;
    color: var(--Grayish-Blue);
    padding: 10px 20px;
    letter-spacing: 1px;
}

header nav ul li a:hover {
    color: var(--Dark-Violet);
}

header nav ul li:last-child {
    border: 2px solid #000;
}

header nav ul li:last-child a {
    color: #000;
}

header nav ul li:last-child a:hover {
    background-color: var(--Dark-Violet);
    color: #fff;
}

header nav .menu-button {
    display: none;
    z-index: 1;
    margin-top: 25px;
}

header nav .menu-button button {
    border: 0px;
    background: transparent;
}

/** Estilos del main */
.main{
    position: relative;
    width: 100%;
    background-color: var(--Dark-Violet);
}

.contenedor{
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor__left{
    width: 120px;
    position: absolute;
    left: 0;
    bottom: -200px;
}

.contenedor__right{
    position: absolute;
    width: 300px;
    height: 400px;
    right: 0;
    top: 0;
}

.humanizing{
    width: 100%;
}

.humanizing__linea{
    width: 150px;
    height: 1.5px;
    background-color: var(--Very-Light-Gray);
}

.humanizing__titulo{
    font-size: 3rem;
    color: var(--Very-Light-Gray);
}

.humanizing__parrafo{
    font-size: 1.1rem;
    color: var(--Very-Light-Gray);
    text-align: justify;
    padding-right: 30px;
}

.humanizing__enlace{
    display: inline-block;
    text-decoration: none;
    color: var(--Very-Light-Gray);
    border: 2px solid var(--Very-Light-Gray);
    padding: 10px;
}

.image{
    width: 100%;
}

.image__family{
    display: inline-block;
    width: 100%;
    height: 520px;
    margin-bottom: -150px;
    object-fit: cover;
}

@media (max-width: 375px) {
    header {
        padding-bottom: 15px;
    }

    header nav {
        flex-wrap: wrap;
        width: 100%;
    }

    header nav .logo {
        order: 1;
        margin-left: 25px;
    }

    header nav .menu-button {
        order: 2;
        display: block;
        margin-right: 25px;
    }

    header nav ul {
        order: 3;
        z-index: 1;
        display: none;
        background-color: var(--Very-Dark-Violet);
        background-image: url("../images/bg-pattern-mobile-nav.svg");
        background-repeat: no-repeat;
        background-position: bottom 0px left 0px;
        position: absolute;
        margin-top: 20%;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }

    header nav ul li {
        display: block;
        width: 70%;
        margin: 30px auto;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    header nav ul li a {
        color: #fff;
        letter-spacing: 2px;
    }

    header nav ul li a:hover {
        color: var(--Dark-Grayish-Violet);
    }

    header nav ul li:last-child {
        border: 2px solid #ccc;
    }

    header nav ul li:last-child a {
        color: #fff;
    }
}

/* FOOTER */

.footer{
    background-color: var(--Very-Light-Gray);
    background-image: url('../images/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
}
.footer__conteiner{
    width: 80%;
    margin: 0 auto;
    padding: 65px;
}
.foote__header{
    display: flex;
    justify-content: space-between;
}
.footer__nav{
    display: flex;
    gap: 15PX;
}
.linea{
    background-color: rgb(223, 215, 215);
    width: 100%;
    height: 1.5px;
    margin-top: 30px;
}
.footer__info{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.footer__nav--sub{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 30px;
}
.footer__nav--sub a{
    color: #000;
}
.footer__titulo p{
    color: var(--Dark-Grayish-Violet);
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

@media (max-width: 475px) and (min-width: 375px){
    .footer{
        background-color: var(--Very-Light-Gray);
        background-image: url('../images/bg-pattern-footer-mobile.svg');
        background-repeat: no-repeat;
    }
    .footer__conteiner{
        width: 50%;
        margin: 0 auto;
        padding: 65px;
    }
    .foote__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-top: 95px;
    }
    .footer__info{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__titulo{
        margin-bottom: 30px;
    }
}